In [ ]:
a=3+5
a

In [3]:
a = 10
b = 24
print(a+b)
c = 2*(a+b)
print(c)

34
68

In [8]:
a = 10.9
a = "abb" + repr(a)
a

'abb10.9'

In [18]:
g = 1.1e-8
r = repr(g)
type(r)
r

'1.1e-08'

In [17]:
t = eval(r)
t

1.1e-08

In [30]:
!ls

README.md  lab1.ipynb

Mike has 10 points for course Python programming.

In [22]:
name = "Mike"
points = 10
cn = "Python programming"
print(name + " " + str(points) + " points for course " + cn)

Mike 10 points for course Python programming

In [26]:
s = "%s %d points for course %s" % (name, points, cn)
print(s)

Mike 10 points for course Python programming

In [28]:
s = "{} {} points for course {}".format(name, points, cn)
print(s)

Mike 10 points for course Python programming

In [31]:
s = "{name} {} points for course {} [{name}]".format(points, cn, name=name)
print(s)

Mike 10 points for course Python programming [Mike]

In [34]:
s = "{name:^30} {} points for course {} [{name}]".format(points, cn, name=name)
print(s)

Mike              10 points for course Python programming [Mike]

Formatted strings

In [36]:
s = f"{name} {points} points for course {cn} [{name}]"
print(s)

Mike 10 points for course Python programming [Mike]

lists

In [39]:
lst = [0,1,2,3,4,5]
lst

[0, 1, 2, 3, 4, 5]

In [41]:
lst[0]

0

In [45]:
lst = [[0,1,2],[3,4,5]]
lst

[[0, 1, 2], [3, 4, 5]]

In [47]:
lst[1][2]

5

In [49]:
row = lst[0]
row

[0, 1, 2]

In [51]:
lst.append(2)
lst.append("hej")
lst

[[0, 1, 2], [3, 4, 5], 2, 'hej', 2, 'hej']

In [53]:
help(lst.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [55]:
dir(lst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [56]:
lst = [1,5,0,57,27]
sorted(lst)

[0, 1, 5, 27, 57]

In [58]:
lst[2:]

[0, 57, 27]

In [60]:
lst[2:2]

[]

In [63]:
lst[2:3]
list(range(6))

[0, 1, 2, 3, 4, 5]

In [66]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [68]:
c = 1 > 2
c

False

In [70]:
if c:
    print("c condition satysfied")
else:
    print("c condition not satisfied")

c condition not satisfied

In [72]:
if c:
    pass
else:
    print("c condition not satisfied")

c condition not satisfied

Dictionaries

In [75]:
d = {'val1': 23, 'val2': 'elenora'}
d['val1']

23

In [76]:
d['newDict'] = {'el': 1}
d

{'val1': 23, 'val2': 'elenora', 'newDict': {'el': 1}}

In [79]:
d.keys()
list(d.keys())

['val1', 'val2', 'newDict']

In [82]:
for k in d.keys():
    print(k)

val1
val2
newDict

In [84]:
d.items()

dict_items([('val1', 23), ('val2', 'elenora'), ('newDict', {'el': 1})])

In [85]:
for k in d.keys():
    print(f"d['{k}'] =  {d[k]}")

d['val1'] =  23
d['val2'] =  elenora
d['newDict'] =  {'el': 1}

In [86]:
for k,v in d.items():
    print(k, str(v))

val1 23
val2 elenora
newDict {'el': 1}

In [87]:
l1 = [1,2,3]
l2 = (1,2,3)

l2 is tuple and is immutable

In [89]:
a,b = (1,2)
b

2

In [90]:
s = set() # only unique values
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [91]:
s = "Ala ma kota i psa"
list(s)

['A',
 'l',
 'a',
 ' ',
 'm',
 'a',
 ' ',
 'k',
 'o',
 't',
 'a',
 ' ',
 'i',
 ' ',
 'p',
 's',
 'a']

In [94]:
s.split()

['Ala', 'ma', 'kota', 'i', 'psa']

In [100]:
ss = set(list(s))
ss

{' ', 'A', 'a', 'i', 'k', 'l', 'm', 'o', 'p', 's', 't'}

In [101]:
ss.add(1)
ss

{' ', 1, 'A', 'a', 'i', 'k', 'l', 'm', 'o', 'p', 's', 't'}

In [103]:
len(s.split()) # number of words

5

In [108]:
words = s.split()

def mycmp(w):
    if "a" in w:
        return True
list(filter(mycmp, words))

['Ala', 'ma', 'kota', 'psa']

In [111]:
list(filter(lambda w: "a" in w, words))

['Ala', 'ma', 'kota', 'psa']

In [112]:
words

['Ala', 'ma', 'kota', 'i', 'psa']

In [114]:
list(map(str.upper, words))

['ALA', 'MA', 'KOTA', 'I', 'PSA']

In [115]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.